*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background:linear-gradient(to right, #9c27b0 , #8ecdff);

}
nav{
    width: 80%;
    position: sticky;
    display: flex;
    margin:20px auto;
    align-items: center;
    z-index: 1;
}

.logo{
    flex-basis: 20%;
}
.logo img{
    width: 140px;
}


.nav-links{
    flex: 1;
    text-align: right;                                                  
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
}

.information{
    width: 640px;
    height: 640px;
    position: absolute;
    top: -38%;
    left: 15%;
    transform: translate(-40%);
}

#circle{
    width: 640px;
    height: 640px;
    position: absolute;
    top: 100px;
    left: 0;
    border-radius: 50%;
    /* background: #ccc;
    background: #ccc; */
    transform: rotate(0deg);
transition: 1s;
}

.feature img{
    width: 40px;

}

.feature{
    position: absolute;
    display: flex;
    color: #fff;
}
.one{
    top: 290px;
    right: 40px;
}

.two{
    top: 80px;
    left: 210px;
    transform: rotate(-90deg);
}
.three{
    bottom: 280px;
    left: 20px;
    transform: rotate(-180deg);
}

.four{
    bottom: 100px;
    right: 200px;
    transform: rotate(-270deg);
}
 .feature div{
    margin-left: 20px;
    font-size: 10px;
 }
 .mobile{
    width: 150px;
    position: absolute;
    top: 44%;
    left: 49%;
    transform: translate(-50%);
    z-index: 1;
 }

 .controls{
    position: absolute;
    right: 10%;
    top: 39%;
    transform: translate(-50%);
    text-align: center;
 }
 .controls h3{
    margin: 15px 0;
    color: #fff;

 }
 #upBtn{
width: 15px;
cursor: pointer;
 }

 #downBtn{
    width: 15px;
    cursor: pointer;
    transform: rotate(180deg);
 }
.overlay{
    position: absolute;
    left: -20%;
    top: -14%;
    width: 0;
    height: 0;
    border-top: 500px solid#fff;
    border-right: 500px solid transparent;
    border-bottom: 500px solid #fff;
    border-left: 500px solid #fff;
    
}